:root {
  --main-color: #0E0B16;
  --color-1: #ec576b;
  --color-2: #4ec5c1;
  --color-3: #e5e338;
  --color-4: rgb(38, 41, 43);
  --color-white: #FFFFFF;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  overflow: hidden;
  /* background-color: #14213d; */
}

.ant-input::placeholder {
  color: var(--color-white);
  opacity: 0.5;
}

/*************************** NAVBAR *********************************/
.container-header {
  background: var(--main-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.navbar h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
}
@media all and (min-width:768px ){
  .navbar h1 {
    font-size: 2rem;
  }
}
.container-menu {
  background: var(--color-4);
  color: var(--color-white);
}
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected {
  color: var(--color-white);
  background-color: var(--color-1);
}
.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item:focus{
  color: var(--color-white);
  background-color: var(--color-1);
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
.ant-menu-horizontal>.ant-menu-item-active::after {
  border-bottom-color: var(--color-1);
}
.navbar h1>span {
  font-weight: lighter;
}
@media all and (min-width:320px) {
  .mobile-responsive{
    display: block;
  }
}
@media all and (min-width: 768px) {
  .navbar ul {
    display: flex;
    justify-content: flex-end;
  }
  .mobile-responsive{
    display: none;
  }
}

 
/*************************** Login*********************************/
.last-container {
  /* background-color: rgba(255, 255, 255, 0.76); */
  padding: 2rem;

}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}
.login-container h2 {
  text-align: center;
  /* color: var(--color-white); */
  margin-bottom: 2rem;
  font-size: 2rem;
}
.login-container h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}
/* .login-container h1::first-letter{
  color: #a00c1e;
} */
.login-container h1>span {
  font-weight: lighter;
  text-decoration: underline;
}

.layout-home {
  padding-top: 1.5rem;
  min-height: 80vh;
  /* background-color: var(--color-white); */
  padding-bottom: 1rem;
}
.title-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.title-layout img {
  height: 4rem;
}
@media (min-width: 768px) { 
  .title-layout img {
    height: 6rem;
  }
}
.title-layout h1 {
  font-size: 1.8rem;
}
@media (min-width: 768px) { 
  .title-layout h1 {
    font-size: 3rem;
  }
}
.bg-principal-layout img {
 
 position: absolute;
 right: 0;
 bottom: 0;
 height: 100%;
 width: 100%;
 object-fit: cover;
 
}
.login-form{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: #2b2d42;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
  border-radius: 5%;
}
form {
  color: aliceblue;
}
/*************************** ADMINISTRATION ******************************/
@media all and (min-width: 320px){
  .container-administration {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 768px){
  .container-administration {
    display: block;
  }
}
.container-administration h2 {
  text-align: center;
}
